<div class="col-lg-12 sin_padding" novalidate ng-form >
	<div class="row" ng-form="vm.productoForm">
			<div class="col-md-12">
				<h3 class="title-slider-nt"><span>Historial Acciones  {{vm.dataDenunciaEntidad.codigoDenuncia}}</span></h3>
				<span class="nav_bread">
					<ol class="breadcrumb">
						<li class="active">Bandeja de Denuncias</li>
						<li>Historial Denuncia</li>
					</ol>
				</span>
			</div>
		</div>


		<div class="row">
        <div class="col-md-12">
          <div class="table-rpv">
          <table id="listaBandeja" class="table table-hover table-bordered table-striped table-app" cellspacing="0" bgcolor="#d0c9c9">
            <thead>
              <tr>
                <th scope="col" class="text-center">&Iacute;tem</th>
                <th scope="col" class="text-center">Descripci&oacute;n acci&oacute;n</th>
                <th scope="col" class="text-center"><!--Motivo / Acci&oacute;n-->Acci&oacute;n </th>
                <th scope="col" class="text-center"><!--Tipo acci&oacute;n--> Tipo Supervisi&oacute;n</th>
                <th scope="col" class="text-center">Fecha de registro</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Acciones</th>

              </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in vm.listaAccionesRegistradas" pagination-id="coutListaAccionesRegistradas15ss" ng-if="item.tipoTablaAccion==2">
                <td data-label="&Iacute;tem" class="text-center">{{item.numeroItem}}</td>
                <td data-label="Descripci&oacute;n Acci&oacute;n">{{item.nombreTipoAtencionAccion}}</td>
                <td data-label="Motivo / Acci&oacute;n" class="text-center">{{item.nombreTipoAccion}}</td>
                <td data-label="Tipo Supervisi&oacute;n" class="text-center">{{item.nombreTipoSupervicion}}</td>
                <td data-label="Fecha de Registro" class="text-center">{{item.fechaRegistro}}</td>
                <td data-label="Estado" class="text-center">{{item.nombreEstado}}</td>

                <td data-label="Acciones" class="text-center">
                  <button type="button" ng-click="vm.mostrarModalVisualizarAccion(item)"  uib-tooltip="Ver datos de la accion" class="btn btn-flat btn-default btn-sm">
                      <span class="glyphicon glyphicon-eye-open"></span>
                  </button>
                  <button type="button"
                          class="btn btn-default btn-sm"
                          ng-if="item.estado==1"
                          uib-tooltip="Evaluar"
                          ng-click="vm.mostrarEvaluacionConAcciones(item)">
                          <span class="fa fa-balance-scale"></span>
                  </button>

                 <button type="button" ng-click="vm.mostrarModalVisualizarEvaluacionAccion(item)" ng-if="item.estado==2 ||item.estado==4 " uib-tooltip="ver datos de la observacion" class="btn btn-flat btn-default btn-sm">
                    <span class="icon-ficha"></span>
                </button>

       <!--
              <button type="button" ng-click="vm.aceptarDenuncia()"  uib-tooltip="Ver Datos de la Accion" class="btn btn-flat btn-primary btn-sm">
                  <span class="glyphicon glyphicon-eye-open"></span>
              </button>
-->

                </td>
              </tr>

               <tr ng-repeat="item in vm.listaAccionesRegistradas" ng-if="item.tipoTablaAccion==1">
                <td data-label="&Iacute;tem" class="text-center">{{item.numeroItem}}</td>
                <td data-label="Descripci&oacute;n Acci&oacute;n">{{item.nombreTipoAtencionAccion}}</td>
                <td data-label="Motivo / Acci&oacute;n" class="text-center">{{item.nombreMotivoAccion}}</td>

                <td data-label="Tipo Acci&oacute;n" class="text-center">{{item.nombreTipoSupervicion}}</td>
                <td data-label="Fecha de Registro" class="text-center">{{item.fechaRegistro}}</td>
                <td data-label="Estado" class="text-center">{{item.nombreEstado}}</td>

                <td data-label="Acciones" class="text-center" width="120">
                    <button type="button" ng-click="vm.mostrarModalVisualizarDenunciaRechazada(item)" ng-if="item.tipoAtencionAccion==2" uib-tooltip="Ver datos denuncia rechazada" class="btn btn-flat btn-default btn-sm">
                      <span class="glyphicon glyphicon-eye-open"></span>
                  </button>

                   <button type="button" ng-click="vm.mostrarModalVisualizarEvaluacionRechazo(item)" ng-if="item.tipoAtencionAccion==2 && item.estado!=1" uib-tooltip="Ver datos de la evaluaci&oacute;n del rechazo" class="btn btn-flat btn-default btn-sm">
                      <span class="glyphicon glyphicon-record"></span>
                  </button>

                    <button type="button" ng-click="vm.mostrarModalVisualizarNoAtencion(item)" ng-if="item.tipoAtencionAccion==4" uib-tooltip="Ver datos denuncia no atendida" class="btn btn-flat btn-default btn-sm">
                      <span class="glyphicon glyphicon-eye-open"></span>
                  </button>



                     <!--  <button type="button" ng-click="vm.aceptarDenuncia()"  uib-tooltip="Ver Datos de la Accion" class="btn btn-flat btn-primary btn-sm">
                       <span class="glyphicon glyphicon-eye-open"></span>
                    </button>-->

                </td>
              </tr>

              <tr ng-show="vm.listaAccionesRegistradas == null || vm.listaAccionesRegistradas.length==0">
                <td colspan="7">No se encontraron resultados</td>
              </tr>
            </tbody>
          </table>
          <br>
          <dir-pagination-controls pagination-id="coutListaAccionesRegistradas15ss" ></dir-pagination-controls>
          <br>
        </div>
      </div>
    </div>

   <div class="row">
      <div class="col-lg-12 text-right">
        <button type="button" ng-click="vm.regresarBandeja()" class="btn btn-flat btn-default btn-primary btn-sm btn-br-in" uib-tooltip="Regresar" >
                  <span class="glyphicon glyphicon-arrow-left"></span> Regresar
        </button>
      </div>
    </div>
</div>

<script>
	function justNumbers(e) {
		var keynum = window.event ? window.event.keyCode : e.which;
		if ((keynum == 8) || (keynum == 46) || (keynum == 44))
			return true;
		return /\d/.test(String.fromCharCode(keynum));
	}
</script>
