<!-- <div id="bg">
<img src="assets/images/fondo/imagen-login.jpg" alt="">
</div>
<div class="container">
<div class="row">
  <div class="col-md-12  ">
    <div class="base-bg error-bg">
      <div class="center-block">
        <img class="img-responsive" width="250" src="assets/images/error_500_app.png" alt="">
        <h2 style="font-size: 4em;">ERROR 500</h2>
        <hr>
        <h5>
          Ha ocurrido una excepci&oacute;n con la aplicaci&oacute;n, por favor contáctese con el administrador.
        </h5>
        <a class="btn btn-primary btn-sm" ui-sref="mtp.home">Volver al inicio</a>
      </div>
    </div>
  </div>
</div>
</div> -->

<section class="AccesoRestrigido">
  <div class="col-md-12">
    <div class="base-bg error-bg">
      <div class="center-block">
          <img class="img-responsive m-auto" width="180" src="./assets/images/error_500_app.png" alt="">
          <h2 class="title-acc-rest">Error de servidor interno</h2>
          <p>Ha ocurrido un error inesperado en el servidor acceder al recurso solicitado.</p>
          <img src="./assets/images/oefa_logo-gris.png" alt="" class="img-responsive m-auto">
        <!-- <a class="btn btn-primary btn-sm" ui-sref="mtp.home">Volver al inicio</a> -->
      </div>
    </div>
  </div>
</section>
