<!-- DESCOMENTAR ESTA LINEA PARA LOS ERRORES 404 -->
<!-- EL TEXOT NO ES EL ADECUDO PARA EL ERRO 404 -->

<!--<div id="bg">
  <img src="assets/images/fondo/imagen-login.jpg" alt="">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12  ">
			<div class="base-bg error-bg">
				<div class="center-block">
					<img class="img-responsive" width="250" src="assets/images/error_401_app.png" alt="">
					<h2 style="font-size: 4em;">ERROR 404</h2>
					<hr>
					<h5>Usted no tiene permiso para acceder al recurso solicitado.</h5>
					<a class="btn btn-primary btn-sm" ui-sref="mtp.home">Volver al inicio</a>
				</div>
			</div>
		</div>
	</div>
</div>-->


<!-- USAR PARA LOS ACCSESOR DENEGADO -->
<section class="AccesoRestrigido">
  <div class="col-md-12">
    <div class="base-bg error-bg">
      <div class="center-block">
          <img class="img-responsive m-auto" width="180" src="./assets/images/no-acceso.png" alt="">
          <h2 class="title-acc-rest">Acceso denegado</h2>
          <p>Usted <b>no</b> tiene el permiso suficiente para acceder al recurso solicitado.</p>
          <img src="./assets/images/oefa_logo-gris.png" alt="" class="img-responsive m-auto">
        <!-- <a class="btn btn-primary btn-sm" ui-sref="mtp.home">Volver al inicio</a> -->
      </div>
    </div>
  </div>
</section>

