<!-- <div id="bg">
  <img src="assets/images/fondo/amazonas-fondo.jpg" alt="">
</div> -->
<nav id="nav-top-web" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="assets/images/sinada-big.png" alt="" class="img-responsive">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav pull-right">
                <li id="login-link" class=""><a href="#">Iniciar Sessión</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
  <div class="row" style="margin-top: 8%">
    <div class="col-xs-8 col-md-offset-2">
      <div id="contenedor-table">

       <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">

          <div class="form-group col-md-12" >
                <img src="assets/images/oefa-logo-header.png" alt=""  style="margin-bottom: 0px;margin-top: 10px;" height="55">
                <img src="assets/images/sinada.png" alt=""  style="margin-bottom: 0px;margin-top: 10px;float: right;">
          </div>
        </div>
         <div class="modal-body">

         <div class="row" style="margin-bottom: 15px">

         <div class="form-group col-md-12">
           		<h5>Seleccione como desea Ingresar:</h5>
          </div>


           <div class="form-group col-md-6 text-center">
           		<div class="center-block">
           				  <img src="assets/images/user-01.png"   ng-click="vm.iraconsultas()"  alt="" class="img-responsive center-block icono-user-x user-01" style="margin-bottom: 20px;margin-top: 10px;border-width:3px;">
                    <b>Usuario Invitado</b>
              </div>

          </div>

           <div class="form-group col-md-6 text-center">
             <div class="center-block">
										<img src="assets/images/user-02.png" alt="" ng-click="vm.iraLogin()"
											class="img-responsive center-block icono-user-x user-02"
											style="margin-bottom: 20px; margin-top: 10px;border-width:3px;">
                      <b>Usuario Registrado</b>
									</div>
             </div>
         </div>
         <div class="row">
           <div class="col-md-12">
               <div class="form-group">
                  <span style="opacity: .6">Si deseas registrarte, haz</span>  <span><a class="spapp-link" ng-click="vm.registrarse()">click aqui</a></span>
               </div>
           </div>
         </div>
         </div>
    </div>
 </div>




      </div>
    </div>
  </div>
</div>

<span ng-if="$parent.cargandoInformacion>0" class="overlay-block">
  <div class="contenedor_load">
    <img ng-src="assets/images/gif/gears-red.gif" alt="">
    <p>Procesando...</p>
  </div>
</span>
