<div class="col-md-12 sin_padding">
  <div>
    <div class="panel panel-tab-app with-nav-tabs panel-default">
<!--       <ul class="nav nav-tabs" >
        <li ng-class="{ 'active' : vm.itemTabActivo == 1 }" ng-click="vm.itemTabActivo = 1">
          <a ui-sref="spapp.home.usuarios.listado" >Listado</a>
        </li>
        <li ng-class="{ 'active' : vm.itemTabActivo == 2 }" ng-click="vm.itemTabActivo = 2">
          <a ui-sref="spapp.home.usuarios.registro" >Registro</a>
        </li>
      </ul> -->
      <div class="panel-body" ui-view>
      </div>
    </div>
  </div>
</div>