
    <div class="row">
      <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="departamento" >Departamento</label>
          <select ng-model="vm.dataDenunciante.departamento" id="departamento" ng-change="vm.listarProvincia();vm.dataDenunciante.provincia='';vm.dataDenunciante.distrito=''" name="departamento" class="form-control input-sm">
            <option value=""> Seleccionar </option>
            <option ng-repeat="itemCombo in vm.listaDepartamento"
							ng-value="itemCombo.codigoDepartamento">{{itemCombo.descripcionDepartamento}}</option>
          </select>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="provincia" >Provincia</label>
          <select ng-model="vm.dataDenunciante.provincia" id="provincia" name="provincia" ng-change="vm.listarDistrito();vm.dataDenunciante.distrito=''" class="form-control input-sm">
          <option value=""> Seleccionar </option>
           	<option ng-repeat="itemCombo in vm.listaProvincia"
							ng-value="itemCombo.codigoProvincia">{{itemCombo.descripcion}}</option>
          </select>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label for="distrito" >Distrito</label>
          <select ng-model="vm.dataDenunciante.distrito" id="distrito" name="distrito" class="form-control input-sm">
            <option value="" > Seleccionar </option>
            <option ng-repeat="itemCombo in vm.listaDistrito"
							ng-value="itemCombo.codigoDistrito">{{itemCombo.descripcionDistrito}}</option>
          </select>
      </div>
    </div>

   <!-- <div class="row">
      <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="direccion">Centro Poblado:</label>
        <div class="form-group">
          <select id="distrito" name="distrito"  class="form-control input-sm">
          <option ng-value="0">Seleccione</option>
          <option ng-repeat="itemCombo in vm.listaCentroPoblado"
              ng-value="itemCombo.codigoRegistro | number">{{itemCombo.descripcion}}</option>
        </select>
        </div>
      </div>
    </div> -->
