<section class="AccesoRestrigido" ng-if="!$parent.validarOpcion('Especialista')">
  <div class="col-md-12">
    <div class="base-bg error-bg">
      <div class="center-block">
          <img class="img-responsive m-auto" width="180" src="./assets/images/no-acceso.png" alt="">
          <h2 class="title-acc-rest">Acceso denegado</h2>
          <p>Usted <b>no</b> tiene el permiso suficiente para acceder al recurso solicitado.</p>
          <img src="./assets/images/oefa_logo-gris.png" alt="" class="img-responsive m-auto">
        <!-- <a class="btn btn-primary btn-sm" ui-sref="mtp.home">Volver al inicio</a> -->
      </div>
    </div>
  </div>
</section>

<div class="col-lg-12 sin_padding" style="margin-top:20px"  name="usuarioRegistroForm" novalidate ng-form ng-if="$parent.validarOpcion('Especialista')" >

		<div class="row">
			<div class="col-md-12">
				<h3 class="title-slider-nt"><span>Bandeja de Seguimiento de Denuncias</span></h3>
				<span class="nav_bread">
					<ol class="breadcrumb">
						<li class="active">Bandeja de Denuncias</li>
						<li>Bandeja de Seguimiento</li>
					</ol>
				</span>
			</div>
		</div>

  	   	<div class="row">
			<div class="col-md-12">
			    	<div class="panel panel-tab-app with-nav-tabs panel-default">
			      		<ul class="nav nav-tabs" >
				        	<li ng-class="{ 'active' : vm.seguimientoTabActivo == 1 }"  ng-click="vm.seguimientoTabActivo = 1">
				          		<a class="spapp-link">Datos de denuncia</a>
				        	</li>
					        <li ng-class="{ 'active' : vm.seguimientoTabActivo == 2 }"  ng-click="vm.seguimientoTabActivo = 2">
					          	<a class="spapp-link">Cronol&oacute;gico</a>
					        </li>
				             <li ng-class="{ 'active' : vm.seguimientoTabActivo == 3 }" ng-click="vm.seguimientoTabActivo = 3">
				                <a class="spapp-link">Entidad</a>
				             </li>
				             <li ng-class="{ 'active' : vm.seguimientoTabActivo == 4 }" ng-click="vm.seguimientoTabActivo = 4">
				                <a class="spapp-link">Problem&aacute;tica de la denuncia</a>
				             </li>
				             <li ng-class="{ 'active' : vm.seguimientoTabActivo == 5 }" ng-click="vm.seguimientoTabActivo = 5">
				                <a class="spapp-link">Ubigeo</a>
				             </li>
				      	</ul>
						<div class="panel-body">
						  	<div class="row" ng-show="vm.seguimientoTabActivo == 1" ng-include="'app/modules/denuncias/seguimiento/filtros/filtro-datos-denuncia.html'">
							</div>
							<div class="row" ng-show="vm.seguimientoTabActivo == 2" ng-include="'app/modules/denuncias/seguimiento/filtros/filtro-cronologico.html'">
							</div>
							<div class="row" ng-show="vm.seguimientoTabActivo == 3" ng-include="'app/modules/denuncias/seguimiento/filtros/filtro-entidad.html'">
							</div>
							<div class="row btn-nivelado" ng-show="vm.seguimientoTabActivo == 4" ng-include="'app/modules/denuncias/seguimiento/filtros/filtro-problematica.html'">
							</div>
							<div class="row" ng-show="vm.seguimientoTabActivo == 5" ng-include="'app/modules/denuncias/seguimiento/filtros/filtro-ubigeo.html'">
							</div>
					     </div>
			    	</div>
			</div>
		</div>
		<br>

   		<div class="row">
	        <div class="form-group col-lg-12 text-right">
	          <button ng-if="$parent.validarOperacion('BUSCAR')"  type="button" ng-disabled="vm.formUsuario.$invalid" ng-click="vm.buscar()" class="btn btn-flat btn-primary btn-sm btn-pd-5 btn-br-in" uib-tooltip="Buscar">
	                <span class="icon-buscar spac-btn-r"></span> Buscar
	          </button>
	          <!--  <button ng-if="$parent.validarOperacion('Registrar')"  type="button" ng-disabled="vm.formUsuario.$invalid" ng-click="vm.guardar()" class="btn btn-flat btn-success btn-sm">
	                <span class="glyphicon glyphicon-ok spac-btn-r"></span> Registrar
	           </button>-->
	           <a class="btn btn-flat btn-primary btn-sm btn-pd-5 btn-br-in" ng-click="vm.irARegistroDenuncia()" uib-tooltip="Registrar nueva denuncia">
                  <span class="icon-nuevo -btn-r"></span> Nuevo
              </a>
	          <button ng-if="$parent.validarOperacion('LIMPIAR')"  type="button" ng-click="vm.limpiar()" class="btn btn-flat btn-default btn-primary btn-sm btn-pd-5 btn-br-in" uib-tooltip="Limpiar filtros" >
                  <span class="icon-limpiar spac-btn-r"></span> Limpiar
              </button>
			  <a  uib-tooltip="Exportar excel" ng-show="$parent.validarOperacion('EXPORTAR EXCEL') && vm.listaDenuncias!= null && vm.listaDenuncias.length>0" class="btn btn-sm btn-default btn-export-xsl btn-pd-5 btn-br-in" ng-click="vm.listarBandejaOrganoCompententeCompletoExcelData()" download="denuncia.xls" style="font-size: 11px">
               <span class="icon-exportar-excel" style="font-size:16px;margin-right: 5px"></span>
              Exportar
              </a>
	        </div>
  	    </div>


<!--
		<h5>Niveles</h5> -->
	    <div class="row">
	        <div class="form-group col-md-10 col-sm-10 col-xs-8">
	          <h5><b>Primer Nivel</b></h5>
	        </div>
	        <div class="col-md-2 col-sm-2 col-xs-4">
	        	<div class="form-group">
		          <label for="cantidadPaginas">P&aacute;ginas</label>
		           <select id="cantidadPaginas" ng-model="config.itemsPerPage" name="cantidadPaginas" class="form-control input-sm">
                <option ng-value="item.numero" ng-repeat="item in lstNumeroPagina">{{item.numero}}</option>
              </select>
	        	</div>
	        </div>
	      </div>

           <div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="table-rpv">
						<table id="listaDenuncias" class="table table-hover table-bordered table-striped table-app" cellspacing="0" bgcolor="#d0c9c9">
							<thead>
								<tr>
									<th scope="col" class="text-center">C&oacute;digo</th>
									<th scope="col" class="text-center">Recepci&oacute;n</th>
									<th scope="col" class="text-center">Registro</th>
									<th scope="col" class="text-center">Tiempo transcurrido</th>
									<th scope="col" class="text-center">&Uacute;ltima acci&oacute;n</th>
									<th scope="col" class="text-center" width="90">Historial</th>
									<th scope="col" class="text-center" width="90">Ficha</th>
									<th ng-if="vm.validaPerfilCoordinador==2" scope="col" class="text-center" width="90">Especialista asignado</th>
									<th scope="col" class="text-center" width="90">Estado</th>
									<th scope="col" class="text-center" width="90">Acci&oacute;n</th>
								</tr>
							</thead>
							<tbody dir-paginate="itemDenuncia in vm.listaDenuncias | itemsPerPage: config.itemsPerPage" pagination-id="coutSeguimiento" >
								<tr ng-class="{'texto-pendiente':itemDenuncia.denunciasPendientes>0 && itemDenuncia.denunciasAtendidas==0 && itemDenuncia.estadoDenuncia==1 ,

	                          'texto-pendiente-atendido':itemDenuncia.totalAcciones>itemDenuncia.denunciasPendientes && itemDenuncia.denunciasAtendidas!=0,

	                          'texto-no-atendido':itemDenuncia.totalAcciones==itemDenuncia.denunciasNoAtendida,

	                          'texto-atendido-todo':itemDenuncia.totalAcciones==itemDenuncia.denunciasAtendidas,
	                          
	                          'texto-atendido-todo':itemDenuncia.estadoDenuncia==8}" 


	                          >
									<td data-label="C&oacute;digo" scope="row" class="text-center">{{itemDenuncia.codigoDenuncia}} </td>
									<td data-label="Recepci&oacute;n">{{itemDenuncia.nombreMedioRecepcion}}</td>
									<td data-label="Registro">{{itemDenuncia.fechaRegistroDenuncia}}</td>

									<td data-label="Tiempo Transcurrido">{{itemDenuncia.tiempoTranscurrido}}</td>
									<td data-label="&Uacute;ltima Acci&oacute;n" class="text-center">{{itemDenuncia.fechaUltimaAccion}}</td>

									<td data-label="Historial" class="text-center">
							            <button ng-if="$parent.validarOperacion('HISTORIAL')"  type="button" class="btn btn-default btn-sm" uib-tooltip="Historial" ng-click="vm.verHistorialAccionDenuncia(itemDenuncia)">
		                                 <span class="icon-historial"></span>
		                               	</button>
		                            </td>
		                        <td data-label="Ficha de Denuncia" class="text-center">
									<button type="button" class="btn btn-default btn-sm"
										uib-tooltip="Ficha de denuncia"
										ng-click="vm.verFichaDenuncia(itemDenuncia)">
										<span class="icon-ficha"></span>
									</button>
								</td>

		                            <td ng-if="vm.validaPerfilCoordinador==2" data-label="Especialista Asignado">{{itemDenuncia.nombreEspecialistaSinada}}</td>
								    <td data-label="Estado" class="text-center">{{itemDenuncia.nombreEstadoDenuncia}}</td>

							       <td data-label="Acci&oacute;n" class="text-center">
							       	    <button  ng-if="$parent.validarOperacion('VER SEGUNDO NIVEL')" type="button" class="btn btn-default btn-sm" uib-tooltip="Ver segundo nivel" ng-click="itemDenuncia.seleccionado = !itemDenuncia.seleccionado;vm.listarSegundoNivelXNumeroDeFila(itemDenuncia,itemDenuncia.idBandejaDetalle)">
	                                	 <span class=" fa fa-history"></span>
	                               		</button>

	                               	 <button   type="button" class="btn btn-default btn-sm" ng-if="itemDenuncia.totalAcciones>itemDenuncia.denunciasPendientes && itemDenuncia.denunciasAtendidas!=0 && itemDenuncia.estadoDenuncia!=8" uib-tooltip="Atender denuncia" ng-click="vm.confirmarDarPorAtendidaDenuncia(itemDenuncia)">
	                                	 <span class="icon-descargar"></span>
	                               		</button>

							       </td>
								</tr>
								<tr ng-show="itemDenuncia.seleccionado" >
									<td colspan="10">
										<div class="table-rpv">
										<table class="table table-hover table-bordered table-striped table-app" cellspacing="0" width="100%" bgcolor="#d0c9c9">
								            <thead>
								              	<tr>
									                <th scope="col" class="text-center">Entidad</th>
									                <th scope="col" class="text-center">&Uacute;ltima acci&oacute;n</th>
									                <th scope="col" class="text-center">Tiempo transcurrido</th>
									                <th scope="col" class="text-center">Historial</th>
									                <th scope="col" class="text-center">Acciones</th>
									                <th scope="col" class="text-center">Estado</th>
								              	</tr>
								            </thead>
								            <tbody>
								            	<tr   ng-class="{'texto-pendiente':itemEntidad.estadoEntidadDenuncia==1 || itemEntidad.estadoEntidadDenuncia==2 || itemEntidad.estadoEntidadDenuncia==5 || itemEntidad.estadoEntidadDenuncia==6 || itemEntidad.estadoEntidadDenuncia==3,
	                          
	                          'texto-estado-individual-atentido':itemEntidad.estadoEntidadDenuncia==8,
	                          'texto-estado-individual-no-atendida':itemEntidad.estadoEntidadDenuncia==9,
	                          'texto-estado-individual-archivado':itemEntidad.estadoEntidadDenuncia==4
	                          }"  dir-paginate="itemEntidad in itemDenuncia.lstEntidadDenuncia | itemsPerPage: config.itemsPerPage" pagination-id="coutSeguimiento2">
								            		<td data-label="Entidad">{{itemEntidad.nombreEntidad}}</td>
								            		<td data-label="&Uacute;ltima Acci&oacute;n">{{itemEntidad.fechaUltimaAccion}}</td>
								            		<td data-label="Tiempo Transcurrido" ><span>{{itemEntidad.tiempoTranscurrido}}</span></td>
								            		<td data-label="Historial">

															  <button ng-if="$parent.validarOperacion('HISTORIAL')"  type="button" class="btn btn-default btn-sm" uib-tooltip="Historial" ng-click="vm.verHistorialEntidad(itemEntidad)">
								                                 <span class="icon-historial"></span>
								                               	</button>

								            		</td>
								            		<td data-label="Acciones" class="text-center">
									                    <button type="button"

									                       ng-if="(itemEntidad.estadoEntidadDenuncia==1) ||(itemEntidad.estadoEntidadDenuncia==5 && vm.validarFechaPlazo(itemEntidad.fechaPlazoAtencion) ==1)"
									                        class="btn btn-default btn-sm"
									                        uib-tooltip="Informar"
									                        ng-click="vm.mostrarSeguimientoInformeDialog(itemEntidad)">
									                        <span class="fa fa-clipboard"></span>
									                    </button>
									                    <button type="button"
									                        class="btn btn-default btn-sm"
									                        ng-if="itemEntidad.estadoEntidadDenuncia==3"
									                        uib-tooltip="Evaluar"
									                        ng-click="vm.mostrarEvaluacionRechazo(itemEntidad)">
									                        <span class="fa fa-balance-scale"></span>
									                    </button>
									                   <!-- <button type="button"
									                        class="btn btn-default btn-sm"

									                        uib-tooltip="Evaluar"
									                        ng-click="vm.mostrarEvaluacionConAcciones(itemEntidad)">
									                        <span class="fa fa-balance-scale"></span>
									                    </button> -->
									                </td>
								            		<td data-label="Estado" style="text-align: center;">{{itemEntidad.nombreEstadoEntidadDenuncia}}</td>
								            	</tr>
								              	<tr ng-show="itemDenuncia.lstEntidadDenuncia == null || itemDenuncia.lstEntidadDenuncia.length==0">
								                	<td colspan="6">No se encontraron resultados</td>
								              	</tr>
								            </tbody>
								        </table>
								        <br>
								        <dir-pagination-controls pagination-id="coutSeguimiento2" ></dir-pagination-controls>
								    </div>
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<dir-pagination-controls pagination-id="coutSeguimiento" ></dir-pagination-controls>
					</div>
				</div>
			</div>
			<div class="row" ng-show="vm.denunciaPorRechazar != null">
		        <div class="form-group col-lg-12 text-right">
		          <button type="button" ng-click="vm.mostrarReitero()" class="btn btn-flat btn-primary btn-sm btn-pd-5 btn-br-in">
		                <span class="fa fa-share spac-btn-r"></span> Reiterar
		          </button>
		          <button type="button" ng-click="vm.mostrarDerivo()" class="btn btn-flat btn-primary-inv btn-sm btn-pd-5 btn-br-in">
		                <span class="fa fa-share spac-btn-r"></span> Derivar
		           </button>
		          <button type="button" ng-click="vm.mostrarArchivo()" class="btn btn-flat btn-default btn-primary btn-sm btn-pd-5 btn-br-in">
	                  <span class="fa fa-save spac-btn-r"></span> Archivar
	              </button>
		        </div>
	  	    </div>

	<!-- </div> -->
</div>
