<div >
	<div class="modal-header">
		<h4 class="modal-title title-msg-conf"><span ng-if="vm.dataAccionRealizada.tipoInforme.codigoRegistro == 1">Acci&oacute;n realizada</span> <span ng-if="vm.dataAccionRealizada.tipoInforme.codigoRegistro == 2">Atenci&oacute;n realizada</span> </h4>
	</div>
	<div class="modal-body" ng-form name="maestroDataDialogForm">
		<span class="content-box">		
	    <!-- click en Rechazado -->
	    <!--
	    <div class="row">
	      <div class="form-group col-md-6">
	        <h5><b>Acci&oacute;n</b></h5>
	      </div>

	    </div>

	      <div class="row">
	      <div class="form-group col-md-6">
	        {{vm.dataAccionRealizada.tipoAccion.descripcion}}
	      </div>

	    </div>

	    <div class="row" ng-if="vm.dataAccionRealizada.tipoAccion.codigoRegistro == 1 || vm.dataAccionRealizada.tipoAccion.codigoRegistro ==2" >
	      <div class="form-group col-md-4">
	        <b>Tipo de Acci&oacute;n</b>
	      </div>
	      <div class="form-group col-md-4">
	        {{vm.dataAccionRealizada.tipoSupervicion.descripcion}}
	      </div>
	    


	    </div>

	    <div class="row" ng-if="vm.dataAccionRealizada.tipoAccion.codigoRegistro == 1 || vm.dataAccionRealizada.tipoAccion.codigoRegistro ==2">
	    	
			  	<div class="form-group col-md-3">
			        <b>Fecha Inicio</b>
			  	</div>
			   	<div class="form-group col-md-3">
			        {{vm.dataAccionRealizada.fechaInicio}}
			   	</div>
			    <div class="form-group col-md-3">
			        <b>Fecha Fin</b>
			    </div>
			    <div class="form-group col-md-3">
			        {{vm.dataAccionRealizada.fechaFin}}
			    </div>


	    </div>

			  <div class="row">
	      <div class="form-group col-md-6">
	        <h5><b>Descripci&oacute;n de la  Acci&oacute;n</b></h5>
	      </div>

	    </div>

	      <div class="row">
	      <div class="form-group col-md-6">
	       {{vm.dataAccionRealizada.descripcionAccion}}
	      </div>

	    </div>
-->
		
		<div class="row desing_input">


            <div class="col-md-12">        	
				<div class="table-rpv">
	    		 <table id="listaBandeja" style="border: hidden" class="table table-hover table-bordered table-striped table-app" cellspacing="0" width="100%" bgcolor="#d0c9c9">   
					    <tbody>
						      <tr >
						        <td style="border: hidden"><b>Acci&oacute;n</b></td>
						        <td colspan="6" style="border: hidden">{{vm.dataAccionRealizada.tipoAccion.descripcion}}</td>
						      </tr>
						       <tr style="border: hidden" ng-if="vm.dataAccionRealizada.tipoAccion.codigoRegistro == 1 || vm.dataAccionRealizada.tipoAccion.codigoRegistro ==2"  >
						        <td style="border: hidden"><b>Tipo de acci&oacute;n</b></td>
						        <td style="border: hidden">{{vm.dataAccionRealizada.tipoSupervicion.descripcion}}</td>
						     	 <td style="border: hidden"><b>Fecha de inicio</b></td>
						        <td style="border: hidden">{{vm.dataAccionRealizada.fechaInicio}}</td>
						      	<td style="border: hidden"><b>Fecha final</b></td>
						        <td style="border: hidden">{{vm.dataAccionRealizada.fechaFin}}</td>
						      </tr>
						       <tr >
						        <td style="border: hidden"><b>Descripci&oacute;n de la  acci&oacute;n</b></td>
						        <td  colspan="6" style="border: hidden">{{vm.dataAccionRealizada.descripcionAccion}}</td>			     
						      </tr>			
					    </tbody>
			     </table>
			   </div>
	    	</div>
		</div>
 	<div class="row">
	      <div class="form-group col-md-6">
	        <h5><b>Archivo adjunto (100mb)</b></h5>
	      </div>
    </div>
    <div class="row">
		<div class="col-md-12">			
			<div class="table-rpv">
				<table id="listaBandeja" class="table table-hover table-bordered table-striped table-app" cellspacing="0" width="100%" bgcolor="#d0c9c9">
				    <thead>
				      <tr>
				        <th>&Iacute;tem</th>
					        <th>Nombre archivo</th>
					         <th>Descripci&oacute;n archivo </th>
					        <th>Descargar</th>
					      </tr>
					</thead>
					<tbody>
					      <tr dir-paginate="item in vm.listaArchivos | itemsPerPage: config.itemsPerPage" pagination-id="coutListaArchivosAcc2ss">
					       
					        <td>{{$index+1}}</td>
					        <td>{{item.nombreArchivo}}</td>
					         <td>{{item.descripcionArchivo}}</td>
					        <td style="text-align: center;">	

								<a class="btn btn-flat btn-sm" href="{{vm.rutaBase}}archivo-adjunto/descargar-archivo-atencion/{{item.idArchivoAtencion}}" download="{{item.nombreArchivo}}" target="_blank">
				                <span  class="icon-descargar"></span> 
				            </a>


					        </td>
					      </tr>
					</tbody>
				</table>
				<dir-pagination-controls pagination-id="coutListaArchivosAcc2ss" ></dir-pagination-controls>
			</div>
		</div>
    </div>
    <div class="row">
      	<div class="form-group col-lg-12 text-right">
          	<button type="button" ng-disabled="vm.formUsuario.$invalid" ng-click="vm.cancelar()" class="btn btn-flat btn-primary-inv btn-sm">
              <span class="glyphicon glyphicon-ok spac-btn-r"></span> Aceptar
          	</button>
  
      	</div>
    </div>    
		
		</span>
	</div>
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('button.ngdialog-close').remove();
        $('.ngdialog-content').append("<a aria-label='Dismiss' class='ngdialog-close'></a>");
	});
</script>