<footer ng-if="$parent.validarOpcion('Footer')" class="footer">
  <div class="footer-content">
    <div class="content-box-app">
      <div class="row">
        <div class="col-sm-4" id="footer-left">
          <a href="https://www.oefa.gob.pe/" target="_blank">
            <img src="assets/images/oefa-logo-white.png" alt="" width="" class="img-responsive">
          </a>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-md-6">
              <h5 class="title-footer">Contáctenos</h5>
              <ul class="fotter-inf-cont colum-inf">
                <li>
                  <span>
                  Central: 204-9900 <br>
                  Atención al Ciudadano: 204-9278 / 204-9279<br>
                  Ayuda Informática: 204-9344 / 204-9228
                  </span>
                </li>
                <li>
                  <span>
                  Avenida Faustino Sánchez Carrión<br>
                  N° 603, 607 y 615 - Jesús María<br>
                  Horario de Atención al Público:<br>
                  Lunes a viernes 8:45 a 16:45<br>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="fotter-inf-cont">
                <h5 class="title-footer">Redes Sociales | Correos </h5>
                  <li style="display: table;margin-bottom: 15px;">
                      <ul class="lst-rsocial">
                        <li><a href="https://www.facebook.com/oefa.peru" title="Facebook OEFA" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/#!/oefaperu" title="Twitter OEFA" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://www.flickr.com/photos/oefa/sets/" title="Flickr OEFA" target="_blank"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="http://www.youtube.com/user/OEFAperu" title="Youtube OEFA" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                      </ul>
                  </li>
                  <li>
                    <span class="mb-1">
                      Servicio de Informaci&oacute;n Nacional de Denuncias Ambientales - SINADA:
                    <a href="mailto:denuncias@oefa.gob.pe">denuncias@oefa.gob.pe</a>
                    </span>
                  </li>
                  <li>
                    <span class="mb-1">
                    Servicio de Información y Atención al Ciudadano - SIAC:
                    <a href="mailto:consultas@oefa.gob.pe">consultas@oefa.gob.pe</a>
                    </span>
                  </li>
                  <li>
                    <span class="mb-1">
                    Ayuda Informática:
                    <a href="mailto:ayudainformatica@oefa.gob.pe">ayudainformatica@oefa.gob.pe</a>
                    </span>
                  </li>
                  <li>
                    <span class="mb-1">
                    Webmaster:
                    <a href="mailto:webmaster@oefa.gob.pe">webmaster@oefa.gob.pe</a>
                    </span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//footer-content-->
  <div class="bottom-bar" style="display: none">
    <div class="content-box-app">
      <div class="row">

        <small class="copyright col-md-6 col-sm-12 col-xs-12">
          <span>Copyright &copy; 2017 galaxybis | Website template by</span>
          <a target="blank" href="http://galaxybis.pe">GALAXY BIS</a>
        </small>
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
        </ul>
      </div>
    </div>
  </div>
</footer>