
    <div class="row">
      <div class="form-group col-md-3">
          <label for="idProducto" >A&ntilde;o</label>
          <div class="form-group">
            <input ng-model="vm.dataProducto.idProducto" type="text" maxlength="10" class="form-control input-sm" name="idProducto" placeholder="Ingresar A&ntilde;o"  onkeypress="return justNumbers(event);">
          </div>
      </div>

      <div class="form-group col-md-3">
        <label for="idProducto" > Mes </label>
        <div class="form-group">
          <input ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Mes">
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="idProducto" >Rango Inicial</label>
        <div class="form-group">
          <input ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Rango Inicial">
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="idProducto" >Rango Final</label>
        <div class="form-group" >
          <input ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Rango Final">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="form-group col-md-3">
        <label for="idProducto" >Tiempo Transcurrido desde el registro</label>
        <div class="form-group">
          <input width="" ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Tiempo ">
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="idProducto" >Tiempo Transcurrido desde la &uacute;ltima acci&oacute;n</label>
        <div class="form-group">
          <input ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Tiempo ">
        </div>
      </div>
    </div>
