<div class="row">
      <div class="form-group col-md-4 col-sm-6">
          <label for="idProducto" >C&oacute;digo</label>
          <div class="form-group">
            <input ng-model="vm.dataProducto.idProducto" type="text" maxlength="13" class="form-control input-sm" name="idProducto" placeholder="Ingresar C&oacute;digo" >
          </div>
      </div>

      <div class="form-group col-md-4 col-sm-6">
        <label for="idProducto" >Estado </label>
        <div class="form-group">
        <select id="periodo" name="periodo" class="form-control input-sm">
          <option value="0"> Seleccionar </option>
        </select>
        </div>
      </div>

</div>
    <div class="row">
      <div class="form-group col-md-4 col-sm-6">
        <label for="idProducto" >Denunciante</label>
        <div class="form-group">
          <input ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Denunciante">
        </div>
      </div>
      <div class="form-group col-md-4 col-sm-6">
        <label for="idProducto" >Denunciado</label>
        <div class="form-group">
          <input ng-model="vm.dataProducto.idProducto" type="text" class="form-control input-sm" name="idProducto" placeholder="Ingresar Denunciado">
        </div>
      </div>
    </div>
