<!-- <div id="bg">
  <img src="assets/images/fondo/amazonas-fondo.jpg" alt="">
</div> -->

<div class=" sin_padding " style="margin-top: 100px">

	<div class="center-block wrapper-invitado form-invitado block-page">

	<span style="position: relative;">
		<div class="row">
			<div class="col-md-12" id="lheader">
				<h3 class="title-slider-nt title-slider-nt-fixed">
					<span>Registro de Denuncias</span>
				</h3>

				<div style="background: #000">
					<span id="bg-ad-s"></span>
				</div>

				<span class="nav_bread">
					<ol class="breadcrumb">
					  <li style="outline:none;" ng-click="vm.cambiarPaso(1)" ng-class="{ 'active' : pasoActivo == 1 }">Paso 1</li>
					  <li style="outline:none;" ng-click="vm.cambiarPaso(2)" ng-class="{ 'active' : pasoActivo == 2 }">Paso 2</li>
					  <li style="outline:none;" ng-click="vm.cambiarPaso(3)" ng-class="{ 'active' : pasoActivo == 3 }">Paso 3</li>
					  <li style="outline:none;" ng-click="vm.cambiarPaso(4)" ng-class="{ 'active' : pasoActivo == 4 }">Paso 4</li>
					  <li style="outline:none;" ng-click="vm.cambiarPaso(5)" ng-class="{ 'active' : pasoActivo == 5 }">Paso 5</li>
					  <li style="outline:none;" ng-click="vm.cambiarPaso(6)" ng-class="{ 'active' : pasoActivo == 6 }">Paso 6</li>
					  <li style="outline:none;" ng-click="vm.cambiarPaso(7)" ng-class="{ 'active' : pasoActivo == 7 }">Paso 7</li>
					 <li style="outline:none;" ng-click="vm.cambiarPaso(8)" ng-class="{ 'active' : pasoActivo == 8}">Paso 8</li>
					</ol>
				</span>
			</div>
		</div>


<!-- 		<div class="row">
			<h2><span>Registro de Denuncias</span></h2>
			<div class="col-md-12">
				<p>Seguir los siguiente paso:</p>
			</div>
		</div> -->


<br>
<br>
		<div ui-view>

		</div>




	</span>
		</div>
</div>

